.navbar {
    width: 15%;
    height: calc(100vh - 60px);
    background: rgb(0,0,0);
    background: linear-gradient(173deg, rgb(31, 30, 30) 12%, rgb(99, 62, 8) 100%);
    color: whitesmoke;
    position: relative;
    backdrop-filter: blur(20px);

    @media screen and (max-width:480px) {
        display: none;
    }

    @media screen and (min-width:481px) and (max-width:1050px){
        display: none;
    }
}

.navbar-active{
    width: 70%;
    height: calc(100vh - 60px);
    background: rgb(0,0,0);
    background: linear-gradient(173deg, rgba(0,0,0,1) 12%, rgba(129,80,9,1) 100%);
    color: whitesmoke;
    position: absolute;
    top: 60px;
    animation: slide 0.3s ease-in-out;
    z-index: 100;
    
    @media screen and (min-width:481px) and (max-width:1050px){
        width: 50%;
    }
}


.closeBtn{
    display: none;

    @media screen and (max-width:480px) {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        padding-bottom: 10px;
    }


    @media screen and (min-width:481px) and (max-width:1050px){
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        padding-bottom: 10px;
    }
}

.navLinks{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width:480px) {
        padding-top: 20px;
    }

    @media screen and (min-width:481px) and (max-width:1050px){
        padding-top: 30px;
    }

}

.link{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    gap: 1rem;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    transition: all ease-in-out 0.2s;

    @media screen and (max-width:480px) {
        width: 70%;
        padding: 5px 10px ;
    }

    @media screen and (min-width:481px) and (max-width:1050px){
        width: 70%;
        padding: 5px 10px ;
    }


}

.link:hover{
    background-color: #fc7425a4;
    color: black;
}

.logout{
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 1rem;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    transition: all ease-in-out 0.3s;
    position: absolute;
    bottom: 50px;
}
.logout:hover{
    scale: 1.1;
}

.active{
    background-color: #E3651D;
    scale: 1.2;
    color: black;
}



@keyframes slide {
    from {
        transform: translateX(-70%);
    }
    to {
        transform: translateX(0%);
    }
}