.report{
    padding: 0 40px;
    height: calc(100vh - 60px);
    overflow-y: scroll;

    @media screen and (max-width:480px) {
        padding: 0 20px;
        height: calc(100vh - 120px);
    }

    @media screen and (min-width:481px) and (max-width:950px){
        padding: 0 20px;
        height: calc(100vh - 120px);
    }
}

.cards{
    flex: 1;
    /* width: 50% !important; */
    /* background-color: #1f1f20 !important; */
    background: inherit !important;
    border: 1px solid silver;
    border-radius: 15px !important;
    scale: 0.97;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width:480px) {
        margin: 0;
        scale: 1;
        margin-bottom: 30px;
    }
}

.cards:hover{
    box-shadow: -4px 7px 14px -3px rgba(184,184,184,1) !important; 
}

.css-1qvr50w-MuiTypography-root{

    @media screen and (max-width:480px) {
        font-size: 18px !important;
    }

    @media only screen and (min-width: 951px) and (max-width:1200px){
        font-size: 10px !important;
    }
} 

.cardTitle{
    color: whitesmoke;
    text-align: center;
}

.cardContent{
    color: whitesmoke ;

    @media screen and (max-width:480px) {
        font-size: 12px;
    }

    @media screen and (min-width:481px) and (max-width:950px){
        font-size: 15px;
    }
}

.report-summary{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;

    @media screen and (max-width:480px) {
        margin: 0;
    }

    @media screen and (min-width:481px) and (max-width:950px){
        margin: 0;
    }
}

/* .report-summary > section > h2{
    text-align: center;
    width: 100%;
}    */

.report-section{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;

    @media screen and (max-width:480px) {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    @media screen and (min-width:481px) and (max-width:950px){
        flex-direction: column;
        justify-content: center;

    } 
}

.sub-section-1{
    width: 100%;
    scale: 0.9;
    @media screen and (max-width:480px) {
        width: 100%;
    }

    @media screen and (min-width:481px) and (max-width:950px){
        
        width: 100%;
    }
}

.circleSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    text-decoration: none;

    @media screen and (max-width:480px) {
        gap: 4rem;
    }

}

.circle {
    width: 130px; 
    height: 130px;
    background-color: rgba(54, 162, 235, 0.2); 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    word-wrap: "word-break";

    @media screen and (max-width:480px) {
        font-size: 12px;
    }

    @media screen and (min-width:481px) and (max-width:950px){
        font-size: 12px;
    }

    &.blue{
        border: 2px solid rgba(54, 162, 235, 1);
        background-color: rgba(54, 162, 235, 0.2);
    }

    &.orange{
        border: 2px solid #f0691b;
        background-color: rgba(207, 115, 53, 0.2);
    }

    &.red{
        border: 2px solid #bc13ff;
        background-color: rgba(119, 16, 187, 0.2);
    }

    &.green{
        border: 2px solid #5fc04b;
        background-color: rgba(75, 192, 81, 0.2);
    }
  }
  